<script>
	import { faComment } from "@fortawesome/free-solid-svg-icons/faComment"
	import { faHeart } from "@fortawesome/free-solid-svg-icons/faHeart"
	import { faStar } from "@fortawesome/free-solid-svg-icons/faStar"
	import { faCodeBranch } from "@fortawesome/free-solid-svg-icons/faCodeBranch"
	import { faQuestionCircle } from "@fortawesome/free-solid-svg-icons/faQuestionCircle"
	import Icon from "fa-svelte"

	import FormattedHtml from "./FormattedHtml.svelte"

	export let counts = []
	export let html = null
	export let imageUrl = null
	export let text = null
	export let title
	export let url = null
	export let extra = false

	let disableBlur = false
	let disableReadMore = false

	const availableIcons = ["favorite", "reply", "star", "fork"]
	const iconToFa = {
		favorite: faHeart,
		reply: faComment,
		star: faStar,
		fork: faCodeBranch,
		default: faQuestionCircle,
	}

	function faOfIcon(icon) {
		if (availableIcons.includes(icon)) {
			return iconToFa[icon]
		} else {
			return iconToFa["default"]
		}
	}

	if (extra) {
		if (extra.disableBlur) {
			disableBlur = true
		}
		if (extra.disableReadMore) {
			disableReadMore = true
		}
	}
</script>

<div
	class="bg-white border border-2 flex-col sm:h-full inline-flex shadow
	hover:shadow-2xl overflow-hidden rounded w-full">
	<div class="card-content">
		<div class=" flex px-4 py-2 items-center">
			<div class="pl-4 py-2">
				<div class="font-medium text-lg">{title}</div>
			</div>
		</div>
		{#if imageUrl}
			<div class="wrapper w-full" style="height: px"><img alt="" class="w-full" src={imageUrl} /></div>
		{/if}
		{#if html || text}
			<div class="p-5 pb-0 pt-3 text-gray-700">
				{#if html}
					<FormattedHtml {html} />
				{:else if text}{text}{/if}
			</div>
		{/if}
	</div>

	<div class="mt-auto">
		{#if !disableBlur}
			<div class="blur-end-text">
				<div />
			</div>
		{/if}
		{#if !disableReadMore}
			<div class="px-2 py-3 flex items-center">
				{#each counts as { count, icon, title } (icon)}
					{#if count}
						<div class="mx-3">
							{count}
							<Icon icon={faOfIcon(icon)} />
						</div>
					{/if}
				{/each}
				<div class="ml-auto">
					<a
						class="py-2 px-4 uppercase text-sm font-bold relative overflow-hidden text-secondary bg-transparent border-none px-3 hover:bg-transparent button rounded"
						href={url}
						target="_blank">
						+ d'infos…
					</a>
				</div>
			</div>
		{/if}
	</div>
</div>

<style>
	.card-content {
		max-height: 584px;
		overflow: hidden;
	}

	.blur-end-text {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
	}

	.blur-end-text div {
		position: absolute;
		left: 0;
		right: 0;
		height: 60px;
		top: -60px;
		background-image: linear-gradient(to bottom, transparent, white);
	}
</style>
